@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.section-home{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12em 3em 1em 1em;
  height: 130vh;

}

.seccion-palabras-mov {
  overflow: hidden;
  margin: 5px;
  width: 100%;
  height: 80vh;
}

.contenedor-palabras-mov {
  animation: scrollUp 490s linear infinite;
  color: #757575;
  font-size: 2.8em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  width: 100%;
  
}

.section-text{
  width: 100%;
}

.parrafo-presentacion{
  margin-left: auto;
  width: 100%;
  padding: .5em;
  font-weight: bold;
  font-size: 1.8em;
  font-family: sans-serif;
  line-height: 1.1em;
  

}



.section-tercer{
  z-index: 45;
  outline: 1px solid rgb(0, 0, 0);
  padding: 1.3em;
  position: relative;
  height: 80vh;
  background-color: #373d15;

}