.section-segunda {
  background-color: #d0f3f5;
  color: #fff;
  font-family: sans-serif;
  position: relative;
}

.cont-img {
  position: sticky;
  top: 0;
  width: 33%;
  display: flex;
  width: 100%;
  padding: 4em 7em 3em 7em;
  overflow: hidden;
  z-index: 3;
}

.cont-img-article {
  width: 25%;
  position: relative;
  margin-top: 1em;
}

.cont-img-article-h4 {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-weight: bold;
}

.div-img-0 {
  width: 100%;
  height: 45vh;
  position: relative;
  overflow: hidden;
}

.img-0{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-img-0-scroll {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  
}

.img-0-scroll {
 width: 400px;
 height: 350px;
  object-fit: cover;
}





.div-img-1 {
  width: min-content;
  height: 80vh;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-top: 1em;
}

.img-1 {
  object-fit: contain;
}

.cont-texto-deplazado-img {
  position: absolute;
  background-color: #ffffff54;
  backdrop-filter: blur(9px);
  width: 100%;
  height: 100%;
  z-index: 45;
  top: 0;
  left: 0;
  overflow: hidden;
}

.text-desplazado-img {
  color: rgb(78, 68, 68);
  font-size: 9em;
  margin-top: 150px;
  margin-left: 160px;
}

.cont-moving {
  width: 100%;
  height: 110vh;
  background-color: #406a6d;
  position: sticky;
  top: 0;
  z-index: 2;
}

.titulo-articulo-siguiente{
font-size: 4em;
position: sticky;
top: 8.8em;
margin-left: 1.5em;
margin-bottom: .5em;

}
