

.section-shop{

    background-color: #93862c;
    padding: 7em 5em;
    
}


.card-producto{
    outline: 1px solid red;
    position: relative;
}



.info-producto-hover{
    
    background-color: rgba(163, 164, 165, 0.459);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}