.section-segunda {
  background-color: #231d30;
  color: #fff;
  font-family: sans-serif;
  position: relative;
}

.cont-img {
  position: sticky;
  top: 0;
  width: 33%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 4em 1em 3em 1em;
  overflow: hidden;
  z-index: 3;
}

.cont-img-article{
  width: 25%;
  position: relative;
}

.cont-img-article-h4{
  
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-weight: bold;

}

.div-img-0 {
  width: 100%;
  height: 45vh;
  position: relative;
  overflow: hidden;
}

.img-0-scroll {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-0 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.div-img-2 {
  width: min-content;
  position: relative;

  height: min-content;
  margin-top: 0.5em;
  overflow: hidden;
  z-index: 5;
}

.img-2 {
  width: 400px;
  height: 350px;
  object-fit: cover;
}

.parrafo-sobre-imagen-dos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff46;
  backdrop-filter: blur(25px);
}

.div-img-1 {
  width: min-content;
  height: 85vh;
  position: relative;
  overflow: hidden;
  margin-left: auto;
}

.img-1 {
  object-fit: contain;
}

.text-desplazado-imagen {
  width: 100%;
  height: 100%;
  background-color: #ffffff93;
  backdrop-filter: blur(9px);
  position: absolute;
  top: 0;
}

.cont-moving {
  width: 100%;
  height: 110vh;
  background-color: #c6a779;
  position: sticky;
  top: 0;
  z-index: 2;
  
}


.titulo-y-texto {
  position: sticky;
  top: 34em;
  color: #182018;
  width: 40%;
  padding: 0 0 0 .7em;
}

.cont-moving-parrafo-woman{
  font-size: 1.1em;
  margin-top: 2em;
  
}

.section-shop{
  width: 100%;
  height: 45vh;
  background-color: aquamarine;
}
